*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration:none;
  color:white;
}
@font-face{ 
font-family:tot; src: url(fuentes/fonnv.otf);

}
@font-face{ font-family:tit; 
src: url(fuentes/gre.otf);

}
body{
  color: white;
  background-color: black;
}
.nav{
  
  border-radius: 20px;
}
.n{
display: flex;
justify-content: space-around;
list-style: none;
flex-wrap: wrap;
margin-left: -4.3%;
}

.v{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 160%;
text-decoration: none;
color: white;
}
@media (max-width: 600px) {
.n {
  flex-direction: column;
  align-items: center;
}

.o {
  width: 100%;
  text-align: center;
}
}
#ti{
  font-family: tit;
  font-size: 200%;
  margin-top: -20%;

}
#titul{
font-family: tit;
font-size: 200%;
margin-top: -6%;
}
#titu{
font-family: tit;
font-size: 200%;
margin-top: 5%;
}




#let{
font-size: 120%;
text-align: center;
margin-top: 45%;
}
#lett{
  font-size: 120%;
  text-align: center;
  margin-top: 15%;

}
#lettt{
  font-size: 120%;
  text-align: center;
  
}
#titulo{
  font-size: 330%;
  font-family: tit;
}
#titulos{
font-family: tit;
font-size: 160%;
}
.pasto{
font-family: tit;
font-size: 190%;
margin-top: -3%;
}
.in{
  font-size: 140%;
  text-align: justify;
}
.pasto1{
  font-family: tit;
  font-size: 300%;
  margin-top: 0;
}
.bienvenida{ 
  float: left;
  margin-top: 15%;
}
.der{
  background-image: url("IMG/fon2.jpg");
  width: 60%;
  float: right;
  min-width: 200px;
  min-height: 600px;
  height:auto;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3%;
  margin-top: 2%;
  opacity: 60%;
}
@media (max-width: 700px) {
.der {
  width: 100%;
  float: none;
}
}
.sec1{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 0%;
}
/* fin primera diapo*/

/* inicio segunda diapo*/

.ariba{
  display: flex;
  padding-top: 1%;
  justify-content: space-evenly;
}
.med{
background-color: #fff;

height: 0.5%;
width: 96%;
margin-left: 2%;
margin-top: 1%;

}
.abajo{
display: flex;
margin-top: 1%;
justify-content: space-evenly;
flex-wrap: wrap;
margin-left: 4%;
}
.gra{
  background-image: url("IMG/mar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 770px;
  min-height: fit-content;
  margin-top: 5%;
}
.bob{
  background-color: #ffffff;
  width: top;
  height: 1px;
  display: flex;
}
.pub{
height: fit-content;
width: 45%;
max-width: 220px;
padding: 1%;
border-radius: 20px;
background-color: #413f3f;
line-height: 150%;
min-height: 290px;
}
.abc{
min-height: 290px;
height: fit-content;
width: 45%;
max-width: 230px;
padding: 1%;
border-radius: 20px;
background-color: #413f3f;
line-height: 150%;
}
@media (max-width: 700px) {
.pub {
  min-height: 390px;
}

.abc {
  min-height: 390px;
}
}
.def{
min-height: 290px;
height: fit-content;
width: 33.3%;
max-width: 300px;
padding: 1%;
border-radius: 20px;
background-color: #413f3f;
line-height: 150%;
}
.hij{
min-height: 290px;
height: fit-content;
width: 33.3%;
max-width: 300px;
padding: 1%;
border-radius: 20px;
background-color: #413f3f;
line-height: 150%;
}
.klm{
min-height: 290px;
height: fit-content;
width: 33.3%;
max-width: 300px;
padding: 1%;
border-radius: 20px;
background-color: #413f3f;
line-height: 150%;
}
@media (max-width: 700px) {
.klm {
  float: left;
  margin-left: -5%;
  margin-top: 1%;
  width: 45%;
}
.hij{
  width: 45%;
}
.def{
  width: 45%;
}
}

/* fin segunda diapo*/

.nde{
  margin-top: 5%;
  background: url("IMG/gen.jpg") no-repeat center center;
  background-size: cover;
  min-height: 300px; /* Ajusta según contenido */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
 
  align-items: center;
  justify-items: center;
}
.ter{
margin-top: 2%;
height: 15%;
grid-row: 1;
grid-column: 1;
margin-left: 3%;
}
.cu{
width: 33%;
min-width: 200px;
height: fit-content;
margin-top: 10%;
border-radius: 5%;
grid-row: 2;
grid-column: 1;

}
.a{
width: 33%;
min-width: 200px;
height: fit-content;
margin-top: 10%;
border-radius: 5%;
grid-row: 2;
grid-column: 2;
}
.dro{
width: 33%;
min-width: 200px;
height: fit-content;
margin-top: 10%;
border-radius: 5%;
grid-row: 2;
grid-column: 3;

}
@media (max-width: 700px) {
.a {
  grid-row: 3;
  grid-column: 1;
}
.dro{
  grid-row: 4;
  grid-column: 1;
}
}



/* footer*/

footer {
  display: flex;
  margin-top: 2%;
  align-items: center;
  width: 100%;
  border-top: 2px solid #fff;
  background-color: black;
}

footer .container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 4rem;
  
}

footer .container .profile {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 27%;
}

footer .container .link-container {
  width: 70%;
  display: flex;
  gap: 10rem;
}

footer .container .link-container .information,
footer .container .link-container .resource,
footer .container .link-container .navigation {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  width: 50%;
}

footer .container .profile .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .container .profile .logo img {
  width: 220px;
  height: 200px;
}

footer .container .profile .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

footer .container .profile p {
  font-weight: 400;
  margin-bottom: 8px;
}

footer .container .profile .social-media-container {
  display: flex;
  gap: 8px;
}

footer .container .profile .social-media-container .social-media {
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 9px;
  border-radius: 50%;
  background-color: #2f2f2f;
  transition: transform 1s linear;
}

footer .container .profile .social-media-container .social-media:hover {
  transform: rotateY(360deg);
}

footer .container .link-container .information h1,
footer .container .link-container .resource h1,
footer .container .link-container .navigation h1 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
}

footer .container .link-container .information ul,
footer .container .link-container .resource ul,
footer .container .link-container .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .container .link-container .information ul li,
footer .container .link-container .resource ul li,
footer .container .link-container .navigation ul li {
  cursor: pointer;
}

footer .container .link-container .information ul li::after,
footer .container .link-container .resource ul li::after,
footer .container .link-container .navigation ul li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #fff;
  width: 40%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s linear;
  margin-top: 8px;
}

footer .container .link-container .information ul li:hover::after,
footer .container .link-container .resource ul li:hover::after,
footer .container .link-container .navigation ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s linear;
}

footer .container .link-container .information ul li a,
footer .container .link-container .resource ul li a,
footer .container .link-container .navigation ul li a {
  color: #fff;
}

@media screen and (max-width: 1536px) {
  footer .container {
    gap: 2rem;
  }
  footer .container .link-container {
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  footer .container {
    padding: 1rem 2rem;
  }
  footer .container .profile {
    width: 50%;
  }
  footer .container .link-container {
    flex-direction: column;
    width: 100%;
  }

  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  footer .container .profile,
  footer .container .link-container {
    width: 100%;
  }

  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    width: 50%;
  }
}
i{
  margin-left: 20%;
  margin-top: 45%;
}

button {

  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(239, 103, 128);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(150, 150, 150);
}

button {

  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(239, 103, 128);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(150, 150, 150);
}


.button{
  background-color: gray;
  color:white;
  border-radius: 10pt;
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
}
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: greenyellow;
  box-shadow: 0 0 0 2px #6a7061;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: greenyellow;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 130, 47);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(98, 28, 14);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;

}


.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}


.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn:active {
  transform: translate(2px, 2px);
}


.button{
  background-color: gray;
  color:white;
  border-radius: 10pt;
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
}
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: greenyellow;
  box-shadow: 0 0 0 2px #6a7061;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: greenyellow;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 130, 47);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(98, 28, 14);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;

}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn:active {
  transform: translate(2px, 2px);
}



button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: black;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid black;
}

button:hover::before {
  box-shadow: inset 0 0 0 10em black;
}
.boton-flotante {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 60px;
            height: 60px;
            background-color: #25D366;
            color: white;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            text-decoration: none;
            font-size: 30px;
            transition: background-color 0.3s, transform 0.3s;
        }
        .boton-flotante:hover {
            transform: scale(1.1);
        }
        .boton-flotante img {
            width: 40px; 
            height: 40px;
        }

